.modal-container{
    position: fixed;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.9) ;
   top: 0px;
   
}

.modal-container > img{
   display: block;
   margin: 100px auto;
}